h1{
    background-color:red;
}
span{
    background-color:red;
}
div{
    background-color:red;
}
p{
    background-color:red;
}
li{
    background-color:red;
}
section{
    background-color:pink;
}
video{
    background-color:green;
}